.nav {
	display: flex;
	height: 64px;
	background-color: var(--light-01);
	flex-direction: row;
	align-items: center;
	padding: 0 var(--pg-margin);
	z-index: 100;
	border-radius: 100px;
	box-shadow: var(--card-shadow);
}

.nav-links {
	display: flex;
	flex: 1;
	justify-content: space-evenly;
	position: relative;
	top: 0;
	margin: 0;
	gap: 20px;
	list-style-type: none;
	padding: 0;
}

.nav-link {
	font-size: 25px;
	font-weight: 700;
	color: var(--text-01);
	text-decoration: none;
}

.nav-link:hover {
	color: var(--brand-01);
	opacity: 0.8;
	background: var(--light-01);
	border-radius: 12px;
	transition: var(--hover-timing);
}
